<nb-card>
  <nb-card-header>Login</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-5">
        <label for="username">Username</label>
        <input type="text" nbInput fullWidth placeholder="username">
        <!-- <span></span> -->
      </div>
      <div class="col-md-5">
        <label for="username">Password</label>
        <input type="text" nbInput fullWidth placeholder="username">
        <!-- <span></span> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
