<!-- this component is used for more information -->
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-2">
                <h4>pg name</h4>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2"> <button nbButton class="btn info-btn" [routerLink]="['/PGM/PG/']"
                    routerLinkActive="router-link-active">Back</button> </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-5">
                <img src="../../../assets/images/camera2.jpg" alt="cam2" class="img-more-info">
            </div>
            <!-- details of pg -->
            <div class="col-md-7">
                <table class="table pgm-table">
                    <tr>
                        <td>Name</td>
                        <td>Hi tech Pg for boys and Girls</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Hi tech Pg for boys and Girls</td>
                    </tr>
                    <tr>
                        <td>Nearest location</td>
                        <td>Hi tech Pg for boys and Girls</td>
                    </tr>
                    <tr>
                        <td>Distance from your location</td>
                        <td>1.6Km</td>
                    </tr>
                    <tr>
                        <td>Facalities </td>
                        <td>Hi tech Pg for boys and Girls</td>
                    </tr>

                    <tr>
                        <td>Room available </td>
                        <td>
                            <span>Single sharing : 1 ,<samp>Price : 16000</samp></span><br>
                            <span>Double sharing : 2 ,<samp>Price : 9000</samp></span><br>
                            <span>Triple sharing : 3 ,<samp>Price : 6000</samp></span><br>

                        </td>
                    </tr>

                    <tr>
                        <td>Features </td>
                        <td>Hi tech Pg for boys and Girls</td>
                    </tr>
                    <tr>
                        <td>Contact us </td>
                        <td>
                            <button nbButton class="save-btn btn mx-2">whatsapp</button>
                            <button nbButton class="registration-btn btn">call</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer><button nbButton class="btn info-btn" [routerLink]="['/PGM/home']"
            routerLinkActive="router-link-active">Back</button></nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-header>Review</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/camera1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Food rating</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                    <div class="text-center display-inline">
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-warning "></i>
                        <i class="fa fa-star text-warning "></i>
                    </div>
        
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/camera2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Food rating</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                    <div class="text-center display-inline">
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-warning "></i>
                        <i class="fa fa-star text-warning "></i>
                    </div>
        
                </div>
            </div>
         
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/camera3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Food rating</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                    <div class="text-center display-inline">
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-warning "></i>
                        <i class="fa fa-star text-warning "></i>
                    </div>
        
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/camera4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Food rating</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                    <div class="text-center display-inline">
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-success "></i>
                        <i class="fa fa-star text-warning "></i>
                        <i class="fa fa-star text-warning "></i>
                    </div>
        
                </div>
            </div>
          
         </div>
                 
                
         
         
        
    </nb-card-body>
    <nb-card-footer>.</nb-card-footer>
</nb-card>