<nb-card>
    <nb-card-body>
        
<div class="row my-3">
    <div class="col-md-2">
        <!-- <ngx-pgmsidebar class="position-fixed"></ngx-pgmsidebar> -->
    </div>
    <div class="col-md-10">
        <nb-card>
            <nb-card-header>PG name</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                        </table>
                        <button class="btn  info-btn">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <!-- multiple card here -->
        <nb-card>
            <nb-card-header>PG name {{90|timing}} </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td>
                                    <i class="fa fa-star text-success "></i>
                                    <i class="fa fa-star text-success "></i>
                                    <i class="fa fa-star text-success "></i>
                                    <i class="fa fa-star text-warning "></i>
                                    <i class="fa fa-star text-warning "></i>


                                </td>
                            </tr>
                        </table>
                        <button class="btn  info-btn" (click)="res()">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card> <nb-card>
            <nb-card-header>PG name</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                        </table>
                        <button class="btn  info-btn">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card> <nb-card>
            <nb-card-header>PG name</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                        </table>
                        <button class="btn  info-btn">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card> <nb-card>
            <nb-card-header>PG name</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                        </table>
                        <button class="btn  info-btn">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card> <nb-card>
            <nb-card-header>PG name</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                        </table>
                        <button class="btn  info-btn">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card> <nb-card>
            <nb-card-header>PG name</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-5">
                        <img src="../../../assets/images/camera1.jpg" class="multi-image" alt="">
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tr>
                                <td>Location</td>
                                <td>Location</td>
                            </tr>
                            <tr>
                                <td>Featues</td>
                                <td>ac,wifi or else</td>
                            </tr>
                            <tr>
                                <td>Contact us</td>
                                <td>+918505948801</td>
                            </tr>
                        </table>
                        <button class="btn  info-btn">More details </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <!-- end multiple card here -->

    </div>
</div>
    </nb-card-body>
</nb-card>

 