.form-label{
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 15px;

}
.img-fix{
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 10px;
}
